<div style="margin-top: 30px;" class="container" >
  <table class="table">
    <thead>
      <tr>
        <th>sku_denomination</th>
        <th>sku_combination</th>
      </tr>
    </thead>
    <tbody>
      <%  @final_value.present? && @final_value.each_with_index do |value, val| %>
        <tr>
          <td><%= @sku + val %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  